<ion-header>
  <ion-toolbar color="Dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CardSaver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Rut</ion-label>
    <ion-input type="text" [(ngModel)]="newRegistro.rut" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre Completo</ion-label>
    <ion-input type="text" [(ngModel)]="newRegistro.nom" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Numero Celular</ion-label>
    <ion-input type="text" [(ngModel)]="newRegistro.numerocel" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text" [(ngModel)]="newRegistro.email" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="newRegistro.contrasena" required></ion-input>
  </ion-item>
  <br>
  <ion-button class="text" (click)="addDatos()" expand="block" color="primary" routerLink="/login">
    Registrarse
  </ion-button>
      <ion-card-subtitle class="cuenta">
        <ion-button color="primary" routerLink="/login">
        ¿Ya tienes cuenta?
        </ion-button>
        <ion-tab-button color="withe" routerLink="/datos">
          Ir a "¿Que deseas hacer?"
        </ion-tab-button>
    </ion-card-subtitle>
   
</ion-content>
