<ion-header>
  <ion-toolbar color="Dark">
    <ion-title class="texto">Bienvenido a CardSaver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="texto ion-padding">
  <ion-card>
    <ion-card-header class="texto">
      <ion-card-title>¿ Que Deseas Hacer ?</ion-card-title>
    </ion-card-header>
  </ion-card>

    <ion-card-header>
      <div class="texto form ion-padding">
        <img  src="/assets/img/candado.png" /> 
      </div>
    </ion-card-header>


    <ion-card-content>
      <ion-item color="primary ">
        <ion-buttons class="registroinicio" routerLink="/login">Iniciar Sesion</ion-buttons>
      </ion-item>
      <br>
      <ion-item color="primary">
        <ion-buttons class="registroinicio" routerLink="/registro">Registro</ion-buttons>
      </ion-item>
  </ion-card-content>
</ion-content>
