<ion-header>
  <ion-toolbar color="Dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>CardSaver</ion-card-subtitle>
      <ion-card-title>¿Quienes Somos?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     Somos una empresa con un rubro muy largo dedicada a la gestion de tarjetas de creditos, protegemos tus datos con la encriptacion mas segura que existe y nos gusta ver a nuestros clientes satisfechos con nuestras mejoras, avances, entre otras cosas.
    
     <a href="https://www.google.cl" target="_blank"><ion-img src="/assets/icon/Gato.jpg" ></ion-img></a>

    </ion-card-content>
  </ion-card>


</ion-content>
