<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo qui fugit possimus perferendis distinctio? Accusamus veniam veritatis, quo, dolorem mollitia eos dolorum deleniti, reiciendis minima enim et facere vitae id!
    </ion-card-content>
  </ion-card>

  <icon-card>

    <img src="assets/cachorro.jpg" class="ion-padding">
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus hic similique eos sint aperiam ipsum. Libero est expedita quas veritatis totam aut ratione eveniet! Tenetur voluptates facere quo delectus aperiam!
    </ion-card-content>
  </icon-card>

</ion-content>
